<?xml version="1.0"?>
<launch>
  <node ns="rob1" pkg="cartesian_planning_server" name="cartesian_planning_server"
        type="cartesian_planning_server" output="screen"/>
  <node ns="rob2" pkg="cartesian_planning_server" name="cartesian_planning_server"
        type="cartesian_planning_server" output="screen"/>
</launch>
