<launch>
  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <!-- Load Cartesian planning server -->
  <rosparam file="$(find hydra_sandbox)/config/pyrobopath.yaml" command="load"/>
  <node pkg="hydra_sandbox" name="pyrobopath_demo" type="gcode_execution.py" output="screen"/>
</launch>
